<div *ngIf="error">
    <div *ngIf="error.message.includes('No modules were extracted using xym'); then infoBlock else dangerBlock"></div>

    <ng-template #dangerBlock>
        <ngb-alert type="danger" (close)="onCloseError()">{{ error.message || 'The application
            has encountered an unknown error.'}}</ngb-alert>
    </ng-template>
    <ng-template #infoBlock>
        <ngb-alert type="info" (close)="onCloseError()">{{ error.message || 'Got unknown info
            message.'}}</ngb-alert>
    </ng-template>
</div>